<h1>Dashboard f</h1>



<%= link_to "New Candidate", new_candidate_path %>

<%= form_tag('/candidates/search') do -%>
    <%= label_tag(:q, "Search by name:") %>
    <%= text_field_tag(:q) %>
    <%= submit_tag("Search") %>
<% end -%>

<p>

  <%= candidates_table @candidates_by_status %>

<hr>

<%= counts_by_status %>

<hr>

<table>
  <tr><th>Experience Legend</th></tr>
  <% ExperienceLevel.all.each do |experience_level| %>
      <tr>
        <td><%= color_span(experience_level, get_name(experience_level), true) %></td>
      </tr>
  <% end %>
</table>