<p id="notice"><%= notice %></p>

<p>
  <b>Notes:</b>
  <%= @candidate_attachment.notes %>
</p>

<p>
  <b>Attachment:</b>
  <% if @candidate_attachment.attachment.attached? %>
    <%= link_to @candidate_attachment.attachment.filename, rails_blob_path(@candidate_attachment.attachment, disposition: 'inline') %>
  <% end %>
</p>


<%= link_to 'Edit', edit_candidate_attachment_path(@candidate_attachment) %> |
<%= link_to 'Back', candidate_attachments_path %>
