<p id="notice"><%= notice %></p>

<p>
  <b>Meeting time:</b>
  <%= @interview.meeting_time %>
</p>

<p>
  <b>Notes:</b>
  <%= @interview.notes %>
</p>

<h1>Reviewers:</h1>
<%  @interview.interview_reviews.each do |interview_review| %>
    <%= interview_review.user.nil? ? 'Nil' : approved_span(interview_review, :text => interview_review.user.name, :link => true) %>
<% end %>
<br>
<%=  link_to 'Add Reviewer', new_interview_review_path(:interview_id => @interview.id) %>
<br>

<%= link_to 'Edit', edit_interview_path(@interview) %> |
<%= link_to 'Back', interviews_path %>
