<%= form_for(@associated_budget) do |f| %>
  <% if @associated_budget.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@associated_budget.errors.count, "error") %> prohibited this associated_budget from being saved:</h2>

      <ul>
      <% @associated_budget.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :active %><br />
    <%= f.check_box :active %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
