<h1>Listing associated_budgets</h1>

<table>
  <tr>
    <th>Code</th>
    <th>Name</th>
    <th>Description</th>
    <th>Active</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @associated_budgets.each do |associated_budget| %>
  <tr>
    <td><%= associated_budget.code %></td>
    <td><%= associated_budget.name %></td>
    <td><%= associated_budget.description %></td>
    <td><%= associated_budget.active %></td>
    <td><%= link_to 'Show', associated_budget %></td>
    <td><%= link_to 'Edit', edit_associated_budget_path(associated_budget) %></td>
    <td><%= link_to 'Destroy', associated_budget, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Associated budget', new_associated_budget_path %>
