<%= form_with(model: diary_entry_type, local: true) do |form| %>
  <% if diary_entry_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(diary_entry_type.errors.count, "error") %> prohibited this diary_entry_type from being saved:</h2>

      <ul>
      <% diary_entry_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :code %>
    <%= form.text_field :code, id: :diary_entry_type_code %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :diary_entry_type_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :diary_entry_type_description %>
  </div>

  <div class="field">
    <%= form.label :positive %>
    <%= form.check_box :positive, id: :diary_entry_type_positive %>
  </div>

  <div class="field">
    <%= form.label :negative %>
    <%= form.check_box :negative, id: :diary_entry_type_negative %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
