<%= form_for(@reference_check) do |f| %>
    <% if @reference_check.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@reference_check.errors.count, "error") %> prohibited this reference_check from being
            saved:</h2>

          <ul>
            <% @reference_check.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :candidate_id %>
      <%= f.collection_select(:candidate_id, Candidate.all, :id, :name, :include_blank => true) %>
    </div>
    <div class="field">
      <%= f.label :name %>
      <br/>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :email %>
      <br/>
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label :phone %>
      <br/>
      <%= f.text_field :phone %>
    </div>
    <div class="field">
      <%= f.label :title %>
      <br/>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :company %>
      <br/>
      <%= f.text_field :company %>
    </div>
    <div class="field">
      <%= f.label :relationship %>
      <br/>
      <%= f.text_field :relationship %>
    </div>
    <div class="field">
      <%= f.label :notes %>
      <br/>
      <%= f.text_field :notes %>
    </div>
    <div class="field">
       <%= f.label :result %>
       <%= f.collection_select(:review_result_id, ReviewResult.all, :id, :name) %>
     </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
