<h1>Listing reference_checks</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Title</th>
    <th>Company</th>
    <th>Relationship</th>
    <th>Years Known</th>
    <th>Result</th>
    <th>Notes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @reference_checks.each do |reference_check| %>
  <tr>
    <td><%= reference_check.name %></td>
    <td><%= reference_check.email %></td>
    <td><%= reference_check.phone %></td>
    <td><%= reference_check.title %></td>
    <td><%= reference_check.company %></td>
    <td><%= reference_check.relationship %></td>
    <td><%= reference_check.years_known %></td>
    <td><%= approved_span(reference_check) %></td>
    <td><%= reference_check.notes %></td>
    <td><%= link_to 'Show', reference_check %></td>
    <td><%= link_to 'Edit', edit_reference_check_path(reference_check) %></td>
    <td><%= link_to 'Destroy', reference_check, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Reference check', new_reference_check_path %>
