<p id="notice"><%= notice %></p>

<p>
  <b>Interview:</b>
  <%=  @interview_review.interview.name %>
</p>

<p>
  <b>Reviewer:</b>
  <%= @interview_review.user.name %>
</p>
<p>
  <b>Result:</b>
  <%= approved_span(@interview_review.review_result) %>
</p>
<p>
  <b>Notes:</b>
  <%= markdown(@interview_review.notes) %>
</p>


<%= link_to 'Edit', edit_interview_review_path(@interview_review) %> |
<%= link_to 'Back', interview_reviews_path %>
