<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @user.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @user.last_name %>
</p>

<p>
  <b>Admin:</b>
  <%= @user.admin %>
</p>

<p>
  <b>Active:</b>
  <%= @user.active %>
</p>

<p>
  <b>HR:</b>
  <%= @user.hr %>
</p>

<p>
  <b>Manager:</b>
  <%= @user.manager %>
</p>
<p>
  <b>Auth name:</b>
  <%= @user.auth_name %>
</p>

<p>
  <b>User name:</b>
  <%= @user.user_name %>
</p>

<p>
  <b>API Key:</b>
  <%= @user.api_key_digest.present? ? '(set — plaintext is not stored)' : '(none)' %>
  <%= button_to 'Regenerate API Key',
                regenerate_api_key_user_path(@user),
                method: :post,
                form: { data: { confirm: 'Issue a new API key? Any current key will stop working immediately.' } } %>
</p>
<% if current_user&.admin? %>
    <p>
      <b>Auth Config</b>
      <%= get_name @user.auth_config %>
    </p>

<% end %>

<p>
  <b>Groups:</b>
  <%= @user.groups %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
