<%= form_for(@work_history_row) do |f| %>
    <% if @work_history_row.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@work_history_row.errors.count, "error") %> prohibited this work_history_row from being
            saved:</h2>

          <ul>
            <% @work_history_row.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :candidate_id %>
      <%= f.collection_select(:candidate_id, Candidate.all, :id, :name, :include_blank => true, :required => true) %>
    </div>

    <div class="field">
      <%= f.label :previous_employer_id %>
      <%= f.collection_select(:previous_employer_id, PreviousEmployer.order('name'), :id, :name, :include_blank => false, :required => true) %>
    </div>


    <div class="field">
      <%= f.label :start_date %>
      <br/>
      <%= f.text_field :start_date, class: 'datepicker', :required => true %>
    </div>
    <div class="field">
      <%= f.label :end_date %>
      <br/>
      <%= f.text_field :end_date, class: 'datepicker'%>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
