<%= form_for(@candidate) do |f| %>
    <% if @candidate.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@candidate.errors.count, "error") %> prohibited this candidate from being saved:</h2>

          <ul>
            <% @candidate.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :first_name %>
      <br/>
      <%= f.text_field :first_name %>
    </div>
    <div class="field">
      <%= f.label :middle_name %>
      <br/>
      <%= f.text_field :middle_name %>
    </div>
    <div class="field">
      <%= f.label :last_name %>
      <br/>
      <%= f.text_field :last_name %>
    </div>
    <div class="field">
      <%= f.label :experience_level_id %>
      <br/>
      <%= f.collection_select(:experience_level_id, ExperienceLevel.order('name'), :id, :name) %>
    </div>
    <div class="field">
      <%=  f.label :position_id %>
      <br/>
      <%=  f.collection_select(:position_id, Position.order('name'), :id, :name, :include_blank => true) %>
    </div>
    <div class="field">
      <%= f.label :candidate_status_id %>
      <br/>
      <%= f.collection_select(:candidate_status_id, CandidateStatus.order('name'), :id, :name, :include_blank => true) %>
    </div>
    <div class="field">
      <%=  f.label :education_level_id %>
      <br/>
      <%=  f.collection_select(:education_level_id, EducationLevel.order('name'), :id, :name, :include_blank => true) %>
    </div>
    <div class="field">
      <%=  f.label :school_id %>
      <br/>
      <%=  f.collection_select(:school_id, School.order('name'), :id, :name, :include_blank => true) %>
    </div>
    <div class="field">
      <%= f.label :candidate_source_id %>
      <br/>
      <%= f.collection_select(:candidate_source_id, CandidateSource.order('name'), :id, :name, :include_blank => true) %>
    </div>
    <div class="field">
      <%= f.label :application_date %>
      <br/>
      <%= f.date_select :application_date, :include_blank => true %>
    </div>
    <div class="field">
      <%= f.label :first_contact_date %>
      <br/>
      <%= f.date_select :first_contact_date, :include_blank => true %>
    </div>
    <div class="field">
      <%=  f.label :rejection_notification_date %>
      <br/>
      <%= f.date_select :rejection_notification_date, :include_blank => true %>
    </div>

    <div class="field">
      <%= f.label :offer_date%>
      <br/>
      <%= f.date_select :offer_date, :include_blank => true %>
    </div>

    <div class="field">
      <%= f.label :offer_accept_date %>
      <br/>
      <%= f.date_select :offer_accept_date, :include_blank => true %>
    </div>

    <div class="field">
      <%= f.label :offer_turndown_date %>
      <br/>
      <%= f.date_select :offer_turndown_date, :include_blank => true %>
    </div>

    <div class="field">
      <%= f.label :start_date %>
      <br/>
      <%= f.date_select :start_date, :include_blank => true  %>
    </div>

    <div class="field">
      <%= f.label :fire_date %>
      <br/>
      <%= f.date_select :fire_date, :include_blank => true %>
    </div>

    <div class="field">
      <%= f.label :quit_date %>
      <br/>
      <%= f.date_select :quit_date, :include_blank => true %>
    </div>

    <div class="field">
      <%= f.label :end_date %>
      <br/>
      <%= f.date_select :end_date, :include_blank => true %>
    </div>

    <div class="field">
      <%= f.label :is_referral %>
      <br/>
      <%= f.check_box :is_referral %>
    </div>
    <div class="field">
      <%= f.label :referred_by %>
      <br/>
      <%= f.text_field :referred_by %>
    </div>
    <div class="field">
      <%=  f.label :notes %>
      <br/>
      <%=  f.text_area :notes %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
