<script>
    $(function() {
        $(".datepicker").datepicker();
    });
</script>

<%= form_for(@candidate) do |f| %>
    <% if @candidate.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@candidate.errors.count, "error") %> prohibited this candidate from being saved:</h2>

          <ul>
            <% @candidate.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :first_name %>
      <br/>
      <%= f.text_field :first_name %>
    </div>
    <div class="field">
      <%= f.label :middle_name %>
      <br/>
      <%= f.text_field :middle_name %>
    </div>
    <div class="field">
      <%= f.label :last_name %>
      <br/>
      <%= f.text_field :last_name %>
    </div>
    <% if session[:admin] %>
        <div class="field">
          <%= f.label :gender %>
          <br/>
          <%= f.collection_select(:gender_id, Gender.order('name'), :id, :name, :include_blank => true) %>
        </div>
    <% end %>
    <div class="field">
      <%= f.label :office_location_id %>
      <br/>
      <%= f.collection_select(:office_location_id, OfficeLocation.order('name'), :id, :name) %>
    </div>
    <div class="field">
      <%= f.label :experience_level_id %>
      <br/>
      <%= f.collection_select(:experience_level_id, ExperienceLevel.order('name'), :id, :name) %>
    </div>
    <div class="field">
      <%= f.label :position_id %>
      <br/>
      <%= f.collection_select(:position_id, Position.order('name'), :id, :name, :include_blank => true) %>
    </div>
    <div class="field">
      <%= f.label :candidate_status_id %>
      <br/>
      <%= f.collection_select(:candidate_status_id, CandidateStatus.order('name'), :id, :name, :include_blank => true) %>
    </div>
    <div class="field">
      <%= f.label :education_level_id %>
      <br/>
      <%= f.collection_select(:education_level_id, EducationLevel.order('name'), :id, :name, :include_blank => true) %>
    </div>
    <div class="field">
      <%= f.label :school_id %>
      <br/>
      <%= f.collection_select(:school_id, School.order('name'), :id, :name, :include_blank => true) %>
    </div>
    <div class="field">
      <%= f.label :candidate_source_id %>
      <br/>
      <%= f.collection_select(:candidate_source_id, CandidateSource.order('name'), :id, :name, :include_blank => true) %>
    </div>
    <div class="field">
      <%= f.label :application_date %>
      <br/>
      <%= f.text_field :application_date, class: 'datepicker' %>
    </div>
    <div class="field">
      <%= f.label :first_contact_date %>
      <br/>
      <%= f.text_field :first_contact_date, class: 'datepicker' %>
    </div>
    <div class="field">
      <%= f.label :rejection_notification_date %>
      <br/>
      <%= f.text_field :rejection_notification_date, class: 'datepicker' %>
    </div>

    <div class="field">
      <%= f.label :offer_date %>
      <br/>
      <%= f.text_field :offer_date, class: 'datepicker' %>
    </div>

    <div class="field">
      <%= f.label :offer_accept_date %>
      <br/>
      <%= f.text_field :offer_accept_date, class: 'datepicker' %>
    </div>

    <div class="field">
      <%= f.label :offer_turndown_date %>
      <br/>
      <%= f.text_field :offer_turndown_date, class: 'datepicker' %>
    </div>

    <div class="field">
      <%= f.label :start_date %>
      <br/>
      <%= f.text_field :start_date, class: 'datepicker' %>
    </div>

    <div class="field">
      <%= f.label :fire_date %>
      <br/>
      <%= f.text_field :fire_date, class: 'datepicker' %>
    </div>

    <div class="field">
      <%= f.label :quit_date %>
      <br/>
      <%= f.text_field :quit_date, class: 'datepicker' %>
    </div>

    <div class="field">
      <%= f.label :end_date %>
      <br/>
      <%= f.text_field :end_date, class: 'datepicker' %>
    </div>

    <div class="field">
      <%= f.label :is_referral %>
      <br/>
      <%= f.check_box :is_referral %>
    </div>
    <div class="field">
      <%= f.label :referred_by %>
      <br/>
      <%= f.text_field :referred_by %>
    </div>
    <div class="field">
      <%= f.label :notes %>
      <br/>
      <%= f.text_area :notes %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
