<%= form_for(@candidate) do |f| %>
    <% if @candidate.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@candidate.errors.count, "error") %> prohibited this candidate from being saved:</h2>

          <ul>
            <% @candidate.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :first_name %>
      <br/>
      <%= f.text_field :first_name, :required => true %>
    </div>
    <div class="field">
      <%= f.label :middle_name %>
      <br/>
      <%= f.text_field :middle_name %>
    </div>
    <div class="field">
      <%= f.label :last_name %>
      <br/>
      <%= f.text_field :last_name, :required => true%>
    </div>
    <% if current_user&.manager? || current_user&.admin? %>
        <fieldset class="role-section role-section--manager">
          <legend>Manager Fields</legend>
          <div class="field">
            <%= f.label :gender %>
            <%= f.collection_select(:gender_id, Gender.order('name'), :id, :name, :include_blank => true) %>
          </div>
          <div class="field">
            <%= f.label :sadness_factor %>
            <%= f.select(:sadness_factor, ((1..5).map { |i| [i, i] }), :include_blank => true) %>
          </div>
          <div class="field">
            <%= f.label :leave_reason %>
            <%= f.collection_select(:leave_reason_id, LeaveReason.order('name'), :id, :name, :include_blank => true) %>
          </div>
        </fieldset>
    <% end %>
    <% if current_user&.hr? || current_user&.manager? || current_user&.admin? %>
        <fieldset class="role-section role-section--hr">
          <legend>HR Fields</legend>
          <div class="field">
            <%= f.label :associated_budget %>
            <%= f.collection_select(:associated_budget_id, AssociatedBudget.order('name'), :id, :name, :include_blank => true) %>
          </div>
          <div class="field">
            <%= f.label :budgeting_type %>
            <%= f.collection_select(:budgeting_type_id, BudgetingType.order('name'), :id, :name, :include_blank => true) %>
          </div>
          <div class="field">
            <%= f.label :replacement_for %>
            <%= f.text_field :replacement_for %>
          </div>
          <div class="field">
            <%= f.label :salary_range %>
            <%= f.text_field :salary_range %>
          </div>
          <div class="field">
            <%= f.label :user_id, 'Linked user account' %>
            <%= f.collection_select(:user_id, User.where(active: true).order(:last_name, :first_name), :id, :name, :include_blank => '-- None --') %>
          </div>
        </fieldset>
    <% end %>
    <div class="field">
      <%= f.label :office_location_id %>
      <br/>
      <%= f.collection_select(:office_location_id, OfficeLocation.order('name'), :id, :name) %>
    </div>
    <div class="field">
      <%= f.label :experience_level_id %>
      <br/>
      <%= f.collection_select(:experience_level_id, ExperienceLevel.order('name'), :id, :name, {:include_blank => '-- Select One --'}, :required => true) %>
    </div>
    <div class="field">
      <%= f.label :position_id %>
      <br/>
      <%= f.collection_select(:position_id, Position.order('name'), :id, :name, {:include_blank => '-- Select One --'}, :required => true) %>
    </div>
    <div class="field">
      <%= f.label :candidate_status_id %>
      <br/>
      <%
        id = @candidate.candidate_status_id
        if id.nil?
          status = CandidateStatus.where(code: 'PEND').first
          id = status.nil? ? -1 : status.id
        end
      %>
      <%= f.collection_select(:candidate_status_id, CandidateStatus.order("name"), :id, :name,
            { include_blank: false, selected: id },
            { data: { original_status: id } }) %>
    </div>
    <div class="field" id="status-change-notes-wrapper" style="display: none;">
      <%= f.label :status_change_notes, "Reason for status change (optional)" %>
      <%= f.text_area :status_change_notes, rows: 2,
            placeholder: "e.g. Passed final interview, extending offer" %>
    </div>
    <div class="field">
      <%= f.label :education_level_id %>
      <br/>
      <%= f.collection_select(:education_level_id, EducationLevel.order('name'), :id, :name, :include_blank => true) %>
    </div>
    <div class="field">
      <%= f.label :school_id %>
      <br/>
      <%= f.collection_select(:school_id, School.order('name'), :id, :name, :include_blank => true) %>
    </div>
    <div class="field">
      <%= f.label :candidate_source_id %>
      <br/>
      <%= f.collection_select(:candidate_source_id, CandidateSource.order('name'), :id, :name, :include_blank => true) %>
    </div>
    <div class="field">
      <%= f.label :application_date %>
      <br/>
      <%= f.date_field :application_date %>
    </div>
    <div class="field">
      <%= f.label :first_contact_date %>
      <br/>
      <%= f.date_field :first_contact_date %>
    </div>
    <div class="field">
      <%= f.label :rejection_notification_date %>
      <br/>
      <%= f.date_field :rejection_notification_date %>
    </div>
    <div class="field">
      <%= f.label :rejection_call_request_date %>
      <br/>
      <%= f.date_field :rejection_call_request_date %>
    </div>
    <div class="field">
      <%= f.label :offer_date %>
      <br/>
      <%= f.date_field :offer_date %>
    </div>

    <div class="field">
      <%= f.label :offer_accept_date %>
      <br/>
      <%= f.date_field :offer_accept_date %>
    </div>

    <div class="field">
      <%= f.label :offer_turndown_date %>
      <br/>
      <%= f.date_field :offer_turndown_date %>
    </div>

    <div class="field">
      <%= f.label :start_date %>
      <br/>
      <%= f.date_field :start_date %>
    </div>

    <div class="field">
      <%= f.label :fire_date %>
      <br/>
      <%= f.date_field :fire_date %>
    </div>

    <div class="field">
      <%= f.label :quit_date %>
      <br/>
      <%= f.date_field :quit_date %>
    </div>

    <div class="field">
      <%= f.label :end_date %>
      <br/>
      <%= f.date_field :end_date %>
    </div>

    <div class="field">
      <%= f.label :is_referral %>
      <br/>
      <%= f.check_box :is_referral %>
    </div>
    <div class="field">
      <%= f.label :referred_by %>
      <br/>
      <%= f.text_field :referred_by %>
    </div>
    <div class="field">
      <%= f.label :notes %>
      <br/>
      <%= f.text_area :notes %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
