<h1>Listing candidates</h1>

<table>
  <tr>
    <th>First name</th>
    <th>Middle name</th>
    <th>Last name</th>
    <th>Position</th>
    <th>Experience Level</th>
    <th>Candidate status</th>
    <th>Education Level</th>
    <th>School</th>
    <th>Candidate source</th>
    <th>Application date</th>
    <th>First contact date</th>
    <th>Is referral</th>
    <th>Referred by</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @candidates.each do |candidate| %>
  <tr>
    <td><%= candidate.first_name %></td>
    <td><%= candidate.middle_name %></td>
    <td><%= candidate.last_name %></td>
    <td><%= candidate.position.nil? ? 'N/A' : candidate.position.name %></td>
    <td><%= candidate.experience_level.name %></td>
    <td><%= candidate.candidate_status.name %></td>
    <td><%= candidate.education_level.nil? ? 'N/A' : candidate.education_level.name %></td>
    <td><%= candidate.school.nil? ? 'N/A' : candidate.school.name %></td>
    <td><%= candidate.candidate_source.name %></td>
    <td><%= candidate.application_date %></td>
    <td><%= candidate.first_contact_date %></td>
    <td><%= candidate.is_referral %></td>
    <td><%= candidate.referred_by %></td>
    <td><%= link_to 'Show', candidate %></td>
    <td><%= link_to 'Edit', edit_candidate_path(candidate) %></td>
    <td><%= link_to 'Destroy', candidate, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Candidate', new_candidate_path %>
