<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @candidate.first_name %>
</p>

<p>
  <b>Middle name:</b>
  <%= @candidate.middle_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @candidate.last_name %>
</p>

<p>
  <b>Position:</b>
  <%= @candidate.position.nil? ? 'N/A' : @candidate.position.name %>
</p>
<p>
  <b>Experience Level:</b>
  <%= @candidate.experience_level.name %>
</p>

<p>
  <b>Candidate status:</b>
  <%= @candidate.candidate_status.name %>
</p>

<p>
  <b>Education Level:</b>
  <%= @candidate.education_level.nil? ? 'N/A' : @candidate.education_level.name %>
</p>

<p>
  <b>School:</b>
  <%= @candidate.school.nil? ? 'N/A' : @candidate.school.name %>
</p>
<p>
  <b>Candidate source:</b>
  <%= @candidate.candidate_source.name %>
</p>

<p>
  <b>Application date:</b>
  <%= @candidate.application_date %>
</p>

<p>
  <b>First contact date:</b>
  <%= @candidate.first_contact_date %>
</p>

<p>
  <b>Is referral:</b>
  <%= @candidate.is_referral %>
</p>

<p>
  <b>Referred by:</b>
  <%= @candidate.referred_by %>
</p>

<h1>Interviews</h1>
<% @candidate.interviews.each do |interview| %>
    <%= link_to interview.name, interview_path(interview) %>
<% end %>

<br>
<%= link_to 'Add Interview', new_interview_path(:candidate_id => @candidate.id) %>

<br>

<h1>Code Submissions</h1>
<% @candidate.code_submissions.each do |code_submission| %>
    <%= link_to code_submission.code_problem.nil? ? 'N/A' : code_submission.code_problem.name, code_submission_path(code_submission) %>
<% end %>
<br>
<%=  link_to 'Add Submission', new_code_submission_path(:candidate_id => @candidate.id) %>
<br>

<%= link_to 'Edit', edit_candidate_path(@candidate) %> |
<%= link_to 'Back', candidates_path %>
