<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @candidate.first_name %>
</p>

<p>
  <b>Middle name:</b>
  <%= @candidate.middle_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @candidate.last_name %>
</p>

<p>
  <b>Candidate status:</b>
  <%= @candidate.candidate_status.name %>
</p>

<p>
  <b>Candidate source:</b>
  <%= @candidate.candidate_source.name %>
</p>

<p>
  <b>Application date:</b>
  <%= @candidate.application_date %>
</p>

<p>
  <b>First contact date:</b>
  <%= @candidate.first_contact_date %>
</p>

<p>
  <b>Is referral:</b>
  <%= @candidate.is_referral %>
</p>

<p>
  <b>Referred by:</b>
  <%= @candidate.referred_by %>
</p>


<%= link_to 'Edit', edit_candidate_path(@candidate) %> |
<%= link_to 'Back', candidates_path %>
