<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @candidate.first_name %>
</p>

<p>
  <b>Middle name:</b>
  <%= @candidate.middle_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @candidate.last_name %>
</p>

<% if session[:manager] %>
    <div style="background:lightgrey;width:20%">
      <h3>Manager Fields</h3>
      <p>
        <b>Gender:</b>
        <%= get_name @candidate.gender %>
      </p>
      <p>
        <b>Sadness Factor:</b>
        <%= @candidate.sadness_factor %>
      </p>
      <p>
        <b>Reason for Leaving:</b>
        <%= get_name @candidate.leave_reason %>
      </p>
    </div>
<% end %>
<% if session[:hr] %>
    <div style="background:lightblue;width:20%">
      <h3>HR Fields</h3>
      <p>
        <b>Associated Budget:</b>
        <%= get_name @candidate.associated_budget %>
      </p>
      <p>
        <b>Budgeting Type:</b>
        <%= get_name @candidate.budgeting_type %>
      </p>
      <p>
        <b>Replacement For:</b>
        <%= @candidate.replacement_for %>
      </p>
      <p>
        <b>Salary Range:</b>
        <%= @candidate.salary_range %>
      </p>
    </div>
<% end %>


<p>
  <b>Office location:</b>
  <%= get_name @candidate.office_location %>
</p>
<p>
  <b>Position:</b>
  <%= get_name @candidate.position %>
</p>
<p>
  <b>Experience Level:</b>
  <%= color_span(@candidate.experience_level, get_name(@candidate.experience_level)) %>
</p>

<p>
  <b>Candidate status:</b>
  <%= get_name @candidate.candidate_status %>
</p>

<p>
  <b>Education Level:</b>
  <%= get_name @candidate.education_level %>
</p>

<p>
  <b>School:</b>
  <%= get_name @candidate.school %>
</p>
<p>
  <b>Candidate source:</b>
  <%= get_name @candidate.candidate_source %>
</p>

<p>
  <b>Application date:</b>
  <%= @candidate.application_date %>
</p>

<p>
  <b>First contact date:</b>
  <%= @candidate.first_contact_date %>
</p>

<p>
  <b>Rejection date:</b>
  <%= @candidate.rejection_notification_date %>
</p>

<p>
  <b>Rejection Call Requested:</b>
  <%= @candidate.rejection_call_request_date %>
</p>
<p>
  <b>Offer date:</b>
  <%= @candidate.offer_date %>
</p>

<p>
  <b>Offer accept date:</b>
  <%= @candidate.offer_accept_date %>
</p>

<p>
  <b>Offer reject date:</b>
  <%= @candidate.offer_turndown_date %>
</p>
<p>
  <b>Start date:</b>
  <%= @candidate.start_date %>
</p>
<p>
  <b>Fire date:</b>
  <%= @candidate.fire_date %>
</p>
<p>
  <b>Quit date:</b>
  <%= @candidate.quit_date %>
</p>
<p>
  <b>End date:</b>
  <%= @candidate.end_date %>
</p>
<p>
  <b>Is referral:</b>
  <%= @candidate.is_referral %>
</p>
<p>
  <b>Referred by:</b>
  <%= @candidate.referred_by %>
</p>
<hr>
<b>Notes</b><br/>
<%= markdown(@candidate.notes) %>
<hr>

<h1>Attachments</h1>
<% @candidate.candidate_attachments.each do |attachment| %>
    <%= attachment.attachment_file_name %> <%= link_to 'Edit', candidate_attachment_path(attachment) %>
<% end %>

<br>
<br>
<%= link_to 'Add Attachment', new_candidate_attachment_path(:candidate_id => @candidate.id) %>

<h1>Work History</h1>
<% @candidate.work_history_rows.each do |history_row| %>
    <%= link_to history_row.summary, work_history_row_path(history_row) %>
<% end %>

<br>
<%= link_to 'Add Work History Row', new_work_history_row_path(:candidate_id => @candidate.id) %>

<h1>Interviews</h1>
<% @candidate.interviews.each do |interview| %>
    <%= format_interview(interview, :include_date => true) %> <br/>
<% end %>

<br>
<%= link_to 'Add Interview', new_interview_path(:candidate_id => @candidate.id) %>

<br>

<h1>Code Submissions</h1>
<% @candidate.code_submissions.each do |code_submission| %>
    <%= format_submission(code_submission) %> <br/>
    <br>
<% end %>
<br>
<%= link_to 'Add Submission', new_code_submission_path(:candidate_id => @candidate.id) %>
<br>

<h1>Reference Checks</h1>
<% @candidate.reference_checks.each do |reference_check| %>
    <%= link_to approved_span(reference_check), reference_check_path(reference_check) %><br>
<% end %>
<br>
<%= link_to 'Add Reference Check', new_reference_check_path(:candidate_id => @candidate.id) %>
<hr>

<%= link_to 'Edit', edit_candidate_path(@candidate) %> |
<%= link_to 'Back', candidates_path %>
