<p id="notice"><%= notice %></p>

<b>Problem:</b>
<%=  @code_submission.code_problem.nil? ? '' : @code_submission.code_problem.name %>
<br>
<b>Sent Date:</b>
<%=  @code_submission.sent_date %>
<br>
<b>Submission Date:</b>
<%=  @code_submission.submission_date %>
<br>
<b>Notes</b>
<%=  markdown(@code_submission.notes) %>

<h1>Reviewers:</h1>

<%  @code_submission.code_submission_reviews.each do |code_submission_review| %>
    <%= code_submission_review.user.nil? ? 'Nil' : approved_span(code_submission_review, :text => code_submission_review.user.name, :link => true) %>
    <br>
    <%= code_submission_review.notes.nil? ? '' : (markdown(code_submission_review.notes)) %>
    <br><br>
<% end %>
<br>
<%=  link_to 'Add Reviewer', new_code_submission_review_path(:code_submission_id => @code_submission.id) %>
<br>

<%= link_to 'Edit', edit_code_submission_path(@code_submission) %> |
<%= link_to 'Back', code_submissions_path %>
