<h1>Listing code_submission_reviews</h1>

<table>
  <tr>
    <th>Approved</th>
    <th>Unapproved</th>
    <th>Notes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @code_submission_reviews.each do |code_submission_review| %>
  <tr>
    <td><%= code_submission_review.approved? %></td>
    <td><%= code_submission_review.unapproved? %></td>
    <td><%= code_submission_review.notes %></td>
    <td><%= link_to 'Show', code_submission_review %></td>
    <td><%= link_to 'Edit', edit_code_submission_review_path(code_submission_review) %></td>
    <td><%= link_to 'Destroy', code_submission_review, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Code submission review', new_code_submission_review_path %>
