<p id="notice"><%= notice %></p>


<p>
  <b>Reviewer:</b>
  <%= @code_submission_review.user.name %>
</p>
<p>
  <b>Result:</b>
  <%= approved_span(@code_submission_review.review_result) %>
</p>
<p>
  <b>Notes:</b>
  <%= @code_submission_review.notes %>
</p>


<%= link_to 'Edit', edit_code_submission_review_path(@code_submission_review) %> |
<%= link_to 'Back', code_submission_reviews_path %>
