<p id="notice"><%= notice %></p>

<h1>Diary Entries</h1>

<table>
  <thead>
    <tr>
      <th>Entry date</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @diary_entries.each do |diary_entry| %>
      <tr>
        <td><%= diary_entry.entry_date %></td>
        <td><%= diary_entry.notes %></td>
        <td><%= link_to 'Show', diary_entry %></td>
        <td><%= link_to 'Edit', edit_diary_entry_path(diary_entry) %></td>
        <td><%= link_to 'Destroy', diary_entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Diary Entry', new_diary_entry_path %>
