<p id="notice"><%= notice %></p>

<p>
  <b>Code:</b>
  <%= @school.code %>
</p>

<p>
  <b>Name:</b>
  <%= @school.name %>
</p>

<p>
  <b>Description:</b>
  <%= @school.description %>
</p>


<%= link_to 'Edit', edit_school_path(@school) %> |
<%= link_to 'Back', schools_path %>
