<p id="notice"><%= notice %></p>

<p>
  <b>Code:</b>
  <%= @interview_type.code %>
</p>

<p>
  <b>Name:</b>
  <%= @interview_type.name %>
</p>

<p>
  <b>Description:</b>
  <%= @interview_type.description %>
</p>


<%= link_to 'Edit', edit_interview_type_path(@interview_type) %> |
<%= link_to 'Back', interview_types_path %>
