<%= form_for(@review_result) do |f| %>
  <% if @review_result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review_result.errors.count, "error") %> prohibited this review_result from being saved:</h2>

      <ul>
      <% @review_result.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
