<%= form_for(@previous_employer) do |f| %>
  <% if @previous_employer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@previous_employer.errors.count, "error") %> prohibited this previous_employer from being saved:</h2>

      <ul>
      <% @previous_employer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
