<h1>Listing auth_configs</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Server</th>
    <th>Port</th>
    <th>Ldap base</th>
    <th>Ldap domain</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @auth_configs.each do |auth_config| %>
  <tr>
    <td><%= auth_config.name %></td>
    <td><%= auth_config.server %></td>
    <td><%= auth_config.port %></td>
    <td><%= auth_config.ldap_base %></td>
    <td><%= auth_config.ldap_domain %></td>
    <td><%= link_to 'Show', auth_config %></td>
    <td><%= link_to 'Edit', edit_auth_config_path(auth_config) %></td>
    <td><%= link_to 'Destroy', auth_config, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Auth config', new_auth_config_path %>
