<h1>Reports</h1>
<%= link_to "Team By Year", :controller => 'reports/team_by_year' %>
<br/>
<%= link_to "Cycle Time", :controller => 'reports/cycle_time_report' %>
<br/>
<%= link_to "Candidates By Source", :controller => 'reports/candidates_by_source' %>
<br/>
<%= link_to "Leavers By Reason", :controller => 'reports/candidate_by_leave_type' %>
<br/>
<%= link_to "Hires/Leavers By Year", :controller => 'reports/hires_by_year' %>
<br/>
<%= link_to "Hires/Leaver Count By Mont", :controller => 'reports/hire_leaver_count_by_month' %>
<br/>
<%= link_to "Associated Budget Report", :controller => 'reports/budget_report' %>
<br/>
<%= link_to "Calendar", :controller => 'candidates/calendar' %>