<!DOCTYPE html>
<html>
<head>
  <title>RecruitingOnRails</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <% if content_for? :for_head %>
      <%= yield :for_head %>
  <% end %>
</head>
<body>
<script>
    $(function() {
        $(".datepicker").datepicker({dateFormat: "yy-mm-dd"});
    });
</script>

<h1>Recruiting On Rails</h1>

<%= link_to "Dashboard", '/dashboard' %> |
<%= link_to "Reports", reports_index_path %>

<%= yield %>

</body>
</html>
